<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/form" method="POST">
        <div><label for="username">username</label><input type="text" name="username" id="username"></div>
        <div><label for="post">post</label><input type="text" name="post" id="post"></div>
        <div><label for="tags">tags</label><input type="text" name="tags" id="tags"></div>
        <div><input type="submit" value="post!"></div>
    </form>
</body>
</html>